.imageSlider_slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    overflow: hidden;
}

.imageSlider_image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.imageSlider_right-arrow, .imageSlider_left-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    width: 0.5em;
    color: #000;
    z-index: 11;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.imageSlider_right-arrow {
    right: 0.25em;
}

.imageSlider_left-arrow {
    left: 0.25em;
}

.imageSlider_slider:hover .imageSlider_right-arrow, .imageSlider_slider:hover .imageSlider_left-arrow {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.imageSlider_slide {
  position: absolute;
  top: -16rem;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  z-index: 1;
}

/* Incoming slides */
.imageSlider_slide-in-from-right {
  transform: translateX(100%);
  opacity: 1;
  animation: slideInFromRight 1s forwards;
  z-index: 2;
}

.imageSlider_slide-in-from-left {
  transform: translateX(-100%);
  opacity: 1;
  animation: slideInFromLeft 1s forwards;
  z-index: 2;
}

/* Outgoing slides */
.imageSlider_slide-out-to-left {
  transform: translateX(0%);
  opacity: 1;
  animation: slideOutToLeft 1s forwards;
  z-index: 1;
}

.imageSlider_slide-out-to-right {
  transform: translateX(0%);
  opacity: 1;
  animation: slideOutToRight 1s forwards;
  z-index: 1;
}

/* Animations */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.imageSlider_text-content {
    position: absolute;
    z-index: 10;
    color: #000;
    background-image: linear-gradient(to right, #fff, #0000);
    top: 27rem;
    width: 20rem;
    text-align: left;
    text-indent: 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
}
