.recipeItemCompact_link {
    display: grid;
    grid-template-areas:
      "title image"
      "rating image";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px auto;
    padding: 6px 20px;
    color: #000;
}

.recipeItemCompact_title {
    grid-area: title;
}

.recipeItemCompact_recipeImage {
    max-height: 100px;
    height: 100%;
    width: 100%;
    grid-area: image;
    object-fit: contain;
}

.recipeItemCompact_rating {
    grid-area: rating;
}

.recipeItemCompact_link:hover {
    background-color: #eee;
}

.recipeItemCompact_link a {
    text-decoration: none;
    user-select: none;
}