.commentBlock_commentBlock {
    display: grid;
    grid-template-areas:
        "user date date"
        "comment comment comment"
        "votes votes delete";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 3em 3em;
    background-color: #eee;
    margin: 1em 0;
    padding: 1em;
}

.commentBlock_user {
    grid-area: user;
    font-size: larger;
    font-weight: bold;
}

.commentBlock_date {
    grid-area: date;
    text-align: right;
    color: #666;
}

.commentBlock_comment {
    grid-area: comment;
}

.commentBlock_votes {
    grid-area: votes;
    display: grid;
    grid-template-areas:
    "upvote downvote";
    width: fit-content;
}

.commentBlock_votes > div {
    margin: 0 0.5em;
    padding: 0 0.5em;
    display: flex;
}

.commentBlock_upvotes {
    color: #43a047;
    grid-area: upvote;
}

.commentBlock_downvotes {
    color: #e53935;
    grid-area: downvote;
}

.commentBlock_delete {
    grid-area: delete;
    text-align: right;
}