.frontpage_content {
    display: grid;
    grid-template-areas:
    "header_recipe"
    "quote"
    "all_recipes"
    "categories"
    "new_recipe";
    grid-template-columns: 1;
    grid-template-rows: auto auto auto auto auto;
    padding: 20px;
}

.frontpage_content div {
    margin-bottom: 1.5em;
}

.frontpage_header-recipe {
    grid-area: header_recipe;
    text-align: center;
}

.frontpage_quote {
    grid-area: quote;
    text-align: center;
    color: #666;
    font-size: large;
    font-style: italic;
    margin: 3em 0;
}

.frontpage_all-recipes {
    grid-area: all_recipes;
    text-align: center;
    background-color: #eee;
    padding: 16px 16px;
    margin: 8px 0;
}

.frontpage_all-recipes:hover {
    background-color: #ddd;
}

.frontpage_all-recipes h2 {
    text-align: center;
    color: #000;
}

.frontpage_categories h2 {
    text-align: center;
}

.frontpage_categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
    gap: 16px;
}

.frontpage_category-list-item {
    padding: 12px 16px;
    margin: 8px 0;
    background-color: #eee;
    text-align: center;
    color: #000;
}

.frontpage_category-list-item:hover {
    background: #ddd;
}

.frontpage_new-recipe {
    grid-area: new_recipe;
}