.content {
    display: grid;
    grid-template-areas:
    "header_recipe"
    "quote"
    "all_recipes"
    "categories";
    grid-template-columns: 1;
    grid-template-rows: auto auto auto auto;
    padding: 20px;
}

.content div {
    margin-bottom: 1.5em;
}

.header_recipe {
    grid-area: header_recipe;
    text-align: center;
}

.quote {
    grid-area: quote;
    text-align: center;
    color: #666;
    font-size: large;
    font-style: italic;
    margin: 3em 0;
}

.all_recipes {
    grid-area: all_recipes;
    text-align: center;
    background-color: #eee;
    padding: 16px 16px;
    margin: 8px 0;
}

.all_recipes:hover {
    background-color: #ddd;
}

.all_recipes h2 {
    text-align: center;
    color: #000;
}

.categories h2 {
    text-align: center;
}

.categories_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
}

.category_list_item {
    padding: 12px 16px;
    margin: 8px;
    background-color: #eee;
    text-align: center;
    color: #000;
}

.category_list_item:hover {
    background: #ddd;
}