.richTextBox {
  font-size: larger;
  background-color: #f8f8f8;
  color: #000;
  padding: 10px;
  padding-top: 20px;
  min-height: 150px;
}

h3 {
  font-size: 1.75em;
  padding-bottom: 0.5em;
}

h4 {
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

ul, ol {
  padding-left: 1em;
  padding-bottom: 1em;
}