.toolbar {
    cursor: pointer;
    font-size: x-large;
    background-color: #eee;
    padding: 0.25em 0.5em;
    margin: 0 0.5em 0.25em 0;
    display: inline-block;
    user-select: none;
    width: 2.5em;
    text-align: center;
    color: #000;
}

.richTextBox {
    font-size: larger;
    background-color: #eee;
    color: #000;
    padding: 10px;
    min-height: 150px;
}

.richTextBox ul {
  list-style-type: disc !important;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 25px !important;
}

.richTextBox ol {
  list-style-type: decimal !important;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 25px !important;
}

.richTextBox li {
  display: list-item !important;
  margin-bottom: 4px;
}