.toolbar {
    cursor: pointer;
    font-size: x-large;
    background-color: #eee;
    padding: 0.25em 0.5em;
    margin: 0 0.5em 0.25em 0;
    display: inline-block;
    user-select: none;
    width: 2em;
    text-align: center;
    color: #000;
}

.richTextBox {
    font-size: larger;
    background-color: #eee;
    color: #000;
}