* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 10fr 2fr;
  width: 100vw;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #4a0;
}

aside {
  grid-area: aside;
  background-color: #380;
}

main {
  grid-area: main;
  background-color: #222;
}

footer {
  grid-area: footer;
  background-color: #333;
}