* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 50px minmax(calc(100vh - 150px), auto) 100px;
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f3f3;
}

header {
  grid-area: header;
  background-color: #ccc;
}

.header_search {
  width: 30em;
  height: 2.1em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  border: 0px;
  background-color: red;
}

.header_searchbar {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0.5em;
  background-color: #fff;
}

.header_searchButton {
  position: absolute;
  height: 100%;
  right: 0em;
  background-color: #bbb;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: 600;
}

aside {
  grid-area: aside;
  background-color: #ccc;
  display: grid;
  grid-template-rows: auto;
  grid-template-rows: 80px auto 100px;
}

main {
  grid-area: main;
  background-color: #fff;
  width: 50%;
  min-width: 800px;
  margin: auto;
  height: 100%;
}

main > form {
  margin: auto;
  width: 400px;
}

footer {
  grid-area: footer;
  background-color: #bbb;
}

.aside-header {
  padding-left: 15px;
}

.aside-categories {
  list-style-type: none;
}

.category-link {
  height: 3.5em;
  padding: 1em;
  font-size: larger;
  background-color: #eee;
  color: #000;
  user-select: none;
}

.category-link:hover {
  background-color: #ddd;
}

.category-link:active {
  background-color: #ccc;
}