.recipeItem_link {
    display: grid;
    grid-template-areas:
      "title image"
      "desc image"
      "rating uploader";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px auto auto;
    padding: 20px;
    color: #000;
}

.recipeItem_title {
    grid-area: title;
}

.recipeItem_desc {
    grid-area: desc;
}

.recipeItem_recipeImage {
    height: 100%;
    width: 100%;
    grid-area: image;
    object-fit: contain;
}

.recipeItem_uploader {
    grid-area: uploader;
}

.recipeItem_rating {
    grid-area: rating;
}

.recipeItem_link:hover {
    background-color: #eee;
}

.recipeItem_link a {
    text-decoration: none;
    user-select: none;
}